nav {
  padding: 2rem 3rem;
  /* background-color: hsl(193, 100%, 96%); */
}

.logo {
  width: 8rem;
  height: auto;
}

.hero-section {
  margin: 1rem 3rem;
  gap: 1rem;
  /* margin: auto 0; */
}

.hero-image img {
  width: 80%;
  height: auto;
}

.hero-text p,
button {
  margin-top: 1rem;
}

main {
  padding: 3rem 3rem 10rem 3rem;
  background-color: white;
}

.info {
  margin: 2rem 0;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.094);
  padding: 3rem;
  border-radius: 1rem;
}

.info-image {
  width: 30%;
  height: auto;
}
