* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins";
  font-size: 18px;
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 3rem;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.094);
}

.white-btn {
  background-color: rgb(255, 255, 255);
  color: #111;
}

.pink-btn {
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: poppins;
}
